<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
	<Properties>
		<Property name="log-path">C:/logs/</Property>
	</Properties>
	<Appenders>
		<RollingFile name="RollingFile" fileName="${log-path}/myexample.log"
			filePattern="${log-path}/myexample-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout>
				<pattern>%d{dd/MMM/yyyy HH:mm:ss,SSS}- %c{1}: %m%n</pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="1 KB" />
			</Policies>
			<DefaultRolloverStrategy max="4" />
		</RollingFile>
		<Console name="STDOUT" target="SYSTEM_OUT" ignoreExceptions="false">
			<ThresholdFilter level="TRACE" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout charset="${sys:file.encoding}"
				pattern="%d{yy-MM-dd HH:mm:ss.SSS} %-5level [%t] %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="root" level="debug" additivity="false">
			<appender-ref ref="RollingFile" level="debug" />
		</Logger>
		<Root level="debug" additivity="false">
			<AppenderRef ref="RollingFile" />
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>